.liveChatContainer {
  display: flex;
}

.videoStreamContainer {
  margin: 5rem;
}

.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
  width: calc(100vw - 800px);
  border: 1px solid black;
  margin-top: 5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.chatMessageContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.userImage {
  height: 30px;
}

.user_name {
  font-weight: bold;
}

.messageInputContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

.messageInputContainer input {
  width: 300px;
}
