.image {
  width: 50px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
}

.commentBoxContainer {
  padding-left: 2.5rem;
  border-left: 2px solid black;
}
.commentContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
